<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='fav.png') }}" type="image/png">
    <title>TimbuMuscle</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-esquerda">
                <h1>TimbuMuscle</h1>
                <a href="/treino">TREINOS</a>
                
            </div>
            <div class="nav-direita-normal">
                <a href="/perfil">PERFIL</a>
            </div>
        </nav>
    </header>
    <main>
        <div class="template">
            
        </div>
    </main>
</body>
</html>
