<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='image/fav.png') }}" type="image/png">
	<title>TimbuMuscle</title>
</head>		
<body>
	<header class="nav">
		<nav>
			<div class="nav-esquerda">
				<h1>TimbuMuscle</h1>
				<a href="{{ url_for('auth.homepage') }}">HOME</a>
				<a href="{{ url_for('auth.sobre') }}">SOBRE</a>
			</div>
			<div class="nav-direita">
				<a class="botao-login" href="{{ url_for('auth.login') }}">LOGIN</a>
			</div>
		</nav>
	</header>

	<main class="forms">
			<div class="container" id="container">
				<div class="form-container sign-up-container">
					<form action="{{ url_for('auth.registrar') }}" method="POST">
						<h1>Registrar-se</h1>
						<input type="text" name="nome" placeholder="Usuário" required />
						<input type="tel" name="telefone" placeholder="Telefone" required>
						<input type="email" name="email" placeholder="Email" required />
						<input type="password" name="senha" placeholder="Senha" required />
						<button type="submit">Registrar</button>
					</form>
				</div>
			<div class="form-container sign-in-container">
				<form action="{{ url_for('auth.login') }}" method="POST">
					 {% if erro %}
						<p style="color: red;">{{ erro }}</p>
					{% elif sucesso %}
						<p style="color: green;">{{ sucesso }}</p>
					{% endif %}
					<h1>Login</h1>
					<input type="email" name="email" placeholder="Email" required />
					<input type="password" name="senha" placeholder="Senha" required />
					<a href="{{ url_for('auth.esq_senha') }}">Esqueceu a senha?</a>
					<button type="submit">Logar</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Bem vindo novamente!</h1>
						<p>Entre novamente aqui</p>
						<button class="ghost" id="signIn">Login</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Olá!</h1>
						<p>Registrar-se agora</p>
						<button class="ghost" id="signUp">Registra-se</button>
					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>
